<div class="jumbotron">
  <div class="alert-danger">
    <p>ATTENTION: The grand opening coding competition has been rescheduled to start at 6-8 pm rather than 12 pm to allow more students to participate.</p>
  </div>
  <img src="assets/code-logo-square.png" alt="logo" class="center-block img-responsive">
  <hr>
  <p>This site is very much a work in progress.</p>
  <p>Please report bugs and feedback to <a href="mailto:tberry@student.neumont.edu">tberry@student.neumont.edu</a></p>
  <!--<hr>-->
  <a class="btn btn-lg btn-primary" [routerLink]="['/problems']">Solve a Problem Now</a>
</div>
